<!-- **********date********* -->

<div class="center">
<label>Recharge Plans : </label>
<select [(ngModel)]="rechargePlan">
  <option value="30">Plan A</option>
  <option value="56">Plan B</option>
  <option value="84">Plan C</option>
</select>
<br />
Recharge Date:
<input type="date" [(ngModel)]="dt_recharge" (change)="calculatedueDate()" />
<br />
ResultDate:{{ this.dateDisplay }}
<!-- <label *ngIf="this.dt_recharge" >ResultDate:{{this.duedate}}</label>  -->
<br />
<button (click)="saveItem()" class="btn btn-warning">Save</button>

<br />
<table class="table table-striped w-25">
  <thead>
    <tr>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ country }}</td>
      <td>{{ state }}</td>
      <td>{{ city }}</td>
    </tr>
  </tbody>
</table>

<p>parameterizedRoutes:  {{number}}</p>
</div>

<!-- <p>Country:{{" " +country}}</p>
<p>State:{{" "+state}}</p>
<p>City:{{" "+city}}</p> -->
