<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card" >
            <div class="text-center">
                <h1>User Registration</h1>
            </div>
            <form [formGroup]="signup"  >
                <ng-container *ngIf="userData">

                    <div *ngFor="let user of userData">

                        <div class="form-group" style="margin-top: 15px;"  >
                            <label for ="firstname">First Name</label>
                            <input type="text" class="form-control" [(ngModel)]="user.firstname" formControlName="firstname" [ngClass]="{'is-invalid' : submitted && signup.controls?.['firstname']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['firstname']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['firstname']?.errors?.['required']">First Name is required</div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="lastname">Last Name</label>
                            <input type="text" class="form-control"  [(ngModel)]="user.lastname" formControlName="lastname" [ngClass]="{'is-invalid' : submitted && signup.controls?.['lastname']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['lastname']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['lastname']?.errors?.['required']">Last Name is required</div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="email">Email</label>
                            <input type="text" class="form-control"  [(ngModel)]="user.email"  formControlName="email"
                            [ngClass]="{'is-invalid' : submitted && signup.controls?.['email']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['email']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['email']?.errors?.['required']">Email is required</div>
                                <div *ngIf="submitted && signup.controls?.['email']?.errors?.['email']">ex.. abc@gmail.com</div>

                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="mobile">Mobile Number</label>
                            <input type="tel" class="form-control" formControlName="mobile" [(ngModel)]="user.mobile" [ngClass]="{'is-invalid' : submitted && signup.controls?.['mobile']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['mobile']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['mobile']?.errors?.['required']">Mobile Number is required</div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="address">Address</label>
                            <input type="text" class="form-control" formControlName="address"  [(ngModel)]="user.address"
                            [ngClass]="{'is-invalid' : submitted && signup.controls?.['address']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['address']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['address']?.errors?.['required']">Address is required</div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="date">Date of Joining:</label>
                            <input type="date" class="form-control" formControlName="doj" [(ngModel)]="user.password" [ngClass]="{'is-invalid' : submitted && signup.controls?.['doj']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['doj']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['doj']?.errors?.['required']">Password is required</div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="username">User Name</label>
                            <input type="text" class="form-control" formControlName="username" [(ngModel)]="user.username"
                            [ngClass]="{'is-invalid' : submitted && signup.controls?.['username']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['username']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['username']?.errors?.['required']">User Name is required</div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for ="password">Password</label>
                            <input type="password" class="form-control" formControlName="password" [(ngModel)]="user.password" [ngClass]="{'is-invalid' : submitted && signup.controls?.['password']?.errors}">
                            <div *ngIf="submitted && signup.controls?.['password']?.errors" class="text-danger">
                                <div *ngIf="submitted && signup.controls?.['password']?.errors?.['required']">Password is required</div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"  (click)="updateUserdata(user.id)" *ngIf="userData">Update</button>

                    </div>


               </ng-container>


              <!-- <=============================================================> -->



                <ng-container  *ngIf="!userData">


                <div class="form-group" style="margin-top: 15px;"  >
                    <label for ="firstname">First Name</label>
                    <input type="text" class="form-control" formControlName="firstname" [ngClass]="{'is-invalid' : submitted && signup.controls?.['firstname']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['firstname']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['firstname']?.errors?.['required']">First Name is required</div>
                    </div>
                </div>

                <div class="form-group" >
                    <label for ="lastname">Last Name</label>
                    <input type="text" class="form-control"  formControlName="lastname" [ngClass]="{'is-invalid' : submitted && signup.controls?.['lastname']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['lastname']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['lastname']?.errors?.['required']">Last Name is required</div>
                        <!-- <div *ngIf="submitted && signup.controls?.['lastname']?.errors?.['pattern']">enter only letters</div> -->

                    </div>
                </div>

                <div class="form-group" >
                    <label for ="email">Email</label>
                    <input type="text" class="form-control"  formControlName="email"
                    [ngClass]="{'is-invalid' : submitted && signup.controls?.['email']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['email']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['email']?.errors?.['required']">Email is required</div>
                        <div *ngIf="submitted && signup.controls?.['email']?.errors?.['email']">ex.. abc@gmail.com</div>
                    </div>
                </div>

                <div class="form-group" >
                    <label for ="mobile">Mobile Number</label>
                    <input type="tel" class="form-control" formControlName="mobile"  [ngClass]="{'is-invalid' : submitted && signup.controls?.['mobile']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['mobile']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['mobile']?.errors?.['required']">Mobile Number is required</div>
                    </div>
                </div>

                <div class="form-group" >
                    <label for ="address">Address</label>
                    <input type="text" class="form-control" formControlName="address"
                    [ngClass]="{'is-invalid' : submitted && signup.controls?.['address']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['address']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['address']?.errors?.['required']">Address is required</div>
                    </div>
                </div>

                <div class="form-group" >
                    <label for ="date">Date of Joining</label>
                    <input type="date" class="form-control" formControlName="doj"
                    [ngClass]="{'is-invalid' : submitted && signup.controls['doj'].errors}">
                    <div *ngIf="submitted && signup.controls?.['doj']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['doj']?.errors?.['required']">Date is required</div>
                    </div>
                </div>

                <div class="form-group" >
                    <label for ="username">User Name</label>
                    <input type="text" class="form-control" formControlName="username"
                    [ngClass]="{'is-invalid' : submitted && signup.controls?.['username']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['username']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['username']?.errors?.['required']">User Name is required</div>
                    </div>
                </div>

                <div class="form-group" >
                    <label for ="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : submitted && signup.controls?.['password']?.errors}">
                    <div *ngIf="submitted && signup.controls?.['password']?.errors" class="text-danger">
                        <div *ngIf="submitted && signup.controls?.['password']?.errors?.['required']">Password is required</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"  (click)="onSubmit()" *ngIf="!userData">Submit</button>
                </ng-container>

            </form>
        </div>
        <p>© Copyright 2024 - Nandu Paradi. All rights reserved worldwide.</p>

    </div>
 </div>
</div>

<p *ngFor="let i of empList">{{i.firstname}}</p>


